<div [formGroup]="form">
  <h2 class="text-xl font-bold text-blue-900 mb-2">Dane podstawowe firmy</h2>
  <label class="block">
    <span class="block text-sm font-medium text-slate-700">Nazwa firmy</span>
    <input
      placeholder="Nazwa firmy"
      class="w-full"
      type="text"
      [formControl]="form.controls.name"
      pInputText
    />
    <p
      *ngIf="
        form.controls.name.hasError('required') &&
        (form.controls.name.dirty || form.controls.name.touched)
      "
      class="text-red-600 text-sm"
    >
      To pole jest wymagane
    </p>
    <p
      *ngIf="
        form.controls.name.hasError('maxlength') &&
        (form.controls.name.dirty || form.controls.name.touched)
      "
      class="text-red-600 text-sm"
    >
      Maksymalna ilość znaków to
      {{ form.controls.name.getError("maxlength").requiredLength }}
    </p>
  </label>
  <label class="block mt-2">
    <span class="block text-sm font-medium text-slate-700">Typ firmy</span>
    <p-dropdown
      class="w-full"
      [style]="{ minWidth: '100%' }"
      [options]="companyTypes"
      [formControl]="form.controls.companyType"
    ></p-dropdown>
    <p
      *ngIf="
        form.controls.companyType.hasError('required') &&
        (form.controls.companyType.dirty || form.controls.companyType.touched)
      "
      class="text-red-600 text-sm"
    >
      To pole jest wymagane
    </p>
  </label>
  <label class="block mt-2">
    <span class="block text-sm font-medium text-slate-700">NIP</span>
    <input
      placeholder="NIP"
      class="w-full"
      type="text"
      [formControl]="form.controls.nip"
      pInputText
    />
    <p
      *ngIf="
        form.controls.nip.hasError('required') &&
        (form.controls.nip.dirty || form.controls.nip.touched)
      "
      class="text-red-600 text-sm"
    >
      To pole jest wymagane
    </p>
    <p
      *ngIf="
        form.controls.nip.hasError('nip') &&
        (form.controls.nip.dirty || form.controls.nip.touched)
      "
      class="text-red-600 text-sm"
    >
      Numer NIP jest niepoprawny.
    </p>
  </label>
  <label class="block mt-2">
    <span class="block text-sm font-medium text-slate-700">REGON</span>
    <input
      placeholder="REGON"
      class="w-full"
      type="text"
      [formControl]="form.controls.regon"
      pInputText
    />
    <p
      *ngIf="
        form.controls.regon.hasError('required') &&
        (form.controls.regon.dirty || form.controls.regon.touched)
      "
      class="text-red-600 text-sm"
    >
      To pole jest wymagane
    </p>
    <p
      *ngIf="
        form.controls.regon.hasError('regon') &&
        (form.controls.regon.dirty || form.controls.regon.touched)
      "
      class="text-red-600 text-sm"
    >
      Numer REGON jest niepoprawny.
    </p>
  </label>
</div>
